[2017-04-19 09:50] jstoja opened #5 "Add UNIX signal handling for proper exiting"

[2017-04-20 12:01] jstoja opened #6 "Add TravisCI to check build and clang-fmt"
Right now it doesn't have code quality and automatic building to check PRs.

[2017-04-20 12:02] jstoja opened #7 "Add static builds in the next release"
Right now the dynamic links make the usage a bit annoying just to fake a rtsp stream. If this can be statically compiled, it would help a lot imo.

[2017-04-27 15:47] Ullaakut commented on #6
Do you need it urgently? Ain't got no time to do that quickly yet.

[2017-04-27 15:48] Ullaakut commented on #7
Did you look into it? Maybe @Gegonz can also do it since he was working on that recently. If none of you want to do it, I can do it but not now.

[2017-04-27 17:58] jstoja commented on #6
Not at all. Just think it would be a good idea to have it ;)

[2017-04-27 17:59] jstoja commented on #7
I quickly did and @Gegonz told me that he knew what to do with cmake. So I let him handle that properly!

[2017-04-28 07:32] Ullaakut commented on #6
Will do! :)

[2017-05-10 09:22] sea-kg opened #8 "Ubuntu Server when try connect to rtsp got 503"
Server Side:

   $ gst-launch-1.0 --gst-version
   GStreamer Core Library version 1.8.3

    $ lsb_release -a
    No LSB modules are available.
    Distributor ID:	Ubuntu
    Description:	Ubuntu 16.04.2 LTS
    Release:	16.04
    Codename:	xenial

Run camera_emulation_server

   $ sudo ./camera_emulation_server -l 185.53.169.* -b 554

And after I try on client side:

     $ ffplay rtsp://185.53.16

[2017-05-10 09:43] Ullaakut commented on #8
I think using a wildcard in the address argument is probably the reason why this doesn't work. Why did you try using a wildcard here when launching your CES?

[2017-05-10 09:48] jstoja commented on #8
Hello @sea-kg !
I think that you're trying to bind and address 185.53.169.* to avoid exposing it to another subnet, but we're not handling wildcards for bind addresses (because it is incomplete and would mean that we need to know the network mask too).

What you can try is setting the whole IP address of the machine you're using. This would bind correctly to the machine ;)
For example:

[code]

Le

[2017-05-10 09:57] sea-kg commented on #8
Hello @jstoja,

Yes of course I set full address. I just masked my ip address in comment up))) ok. last part of ip-address 102 - you can try connect.

And I can say that before I do same but in local network - and it work but on real server - not work.

Please tell me know if you will be need more information.

[2017-05-10 10:09] jstoja commented on #8
Can you check that you're actually correctly binding to the address and port? (with `netstat -ntpl`)
I just tried and it worked.
[code]

[2017-05-10 10:13] jstoja commented on #8
I also can see that you have 500 errors, do you have some logs on the camera_emulation_server ?

[2017-05-10 10:31] sea-kg commented on #8
I already checked firewall... ;)

	$ sudo netstat -tnpl | grep 554
	tcp        0      0 185.53.169.102:554      0.0.0.0:*               LISTEN      8969/camera_emulati

It's all that applciation printed:

	$ sudo ./camera_emulation_server -l 185.53.169.102 -b 554
	Launching stream with the following pipeline: ( videotestsrc ! video/x-raw,width=352,height=288,framerate=25/1 ! queue !x264enc threads

[2017-05-10 10:52] Ullaakut commented on #8
(I added the bug log even though we don't know yet if the issue comes from our software or from the network configuration, to make it easier for users that might experience the same problem to find it later)

[2017-05-10 10:54] Ullaakut commented on #8
@sea-kg Try setting the `GST_DEBUG` environment variable to 3 on the machine that runs CES, and restart CES, then show us the ouput (it will probably be super long but no worries)

[2017-05-10 11:06] sea-kg commented on #8
Hello @Ullaakut
Log started on try connection by client:

	# export GST_DEBUG="*:3" && ./camera_emulation_server -l 185.53.169.102 -b 554 > camera.log
	0:00:03.051770861  9862      0x1df8ca0 ERROR           GST_PIPELINE grammar.y:716:priv_gst_parse_yyparse: no element "x264enc"
	0:00:03.051851455  9862      0x1df8ca0 ERROR           GST_PIPELINE grammar.y:801:priv_gst_parse_yyparse: link has no si

[2017-05-10 12:12] Gegonz commented on #8
Hi sea-kg,

The error is:
0:00:03.054994995  9862      0x1df8ca0 WARN        rtspmediafactory rtsp-media-factory.c:1184:default_create_element: recoverable parsing error: no element "x264enc"

We were missing a dependency from the list: gstreamer1.0-plugins-ugly
Readme was updated accordingly. Thanks for your feedback

Gegon

[2017-05-10 12:12] Ullaakut opened #10 "Add docker deployment"
People now using the project, we should give a simpler way to use CES with a Dockerfile.

- [x] Dockerization - @Gegonz
- [x] Pass arguments as environment variables - @Ullaakut
- [x] Upload on dockerhub - @Ullaakut

[2017-05-10 12:14] Ullaakut commented on #8
Issue https://github.com/EtixLabs/CES/issues/10 will contribute to make everything easier by not having any other dependency that `docker`.

I consider this issue fixed, please let us know if gegon's solution doesn't fix your problem.

[2017-05-10 12:14] #8 closed

[2017-05-10 12:40] Gegonz commented on #7
To do so we have to compile gst-rtsp-server + gst ugly plugin statically with is not recommanded (C functions not liking this + quite a nightmare to do).
We will make it available to run as a docker image to isolate the deps: https://github.com/EtixLabs/CES/issues/10

[2017-05-10 12:40] #7 closed

[2017-05-11 03:28] sea-kg commented on #8
Thanks! Now is work!

[2017-05-11 03:48] Ullaakut commented on #8
A pleasure, thank you for using CES :) Don't hesitate to tell us if you have other issues!

[2017-05-11 09:34] Ullaakut opened #12 "Add media broadcast"

[2017-05-11 09:34] #10 closed

[2017-05-26 15:27] Gegonz commented on #5
Done in https://github.com/EtixLabs/CES/pull/14

[2017-05-26 15:27] #5 closed

[2017-06-06 07:06] Ullaakut commented on #6
I'll do it this week.

[2017-06-08 10:28] Ullaakut commented on #12
https://github.com/EtixLabs/CES/pull/15

[2017-06-08 10:28] #12 closed

[2017-06-08 11:49] Ullaakut opened #16 "Change CES into RTSP-AllTheThings (RTSPATT)"
![rtspallthethings](https://user-images.githubusercontent.com/6976628/26927244-52bf5e7c-4c51-11e7-95d6-904d3e46ce11.png)

[2017-06-08 13:33] Ullaakut commented on #16
Done in https://github.com/EtixLabs/RTSPAllTheThings/pull/17

[2017-06-08 13:33] #16 closed

[2017-06-08 14:18] Ullaakut opened #18 "Improve precision of time overlay to miliseconds for latency check"
* Use `textoverlay` component instead of `clockoverlay`
* Retrieve the NTP time of the local machine
* Attach buffer probes for each incoming and outcoming video frames
* Update the text of the textoverlay component in order to display the current NTP timestamps

[2017-06-09 12:45] Ullaakut opened #23 "Add option for fpsdisplaysink"
That could be useful in some testing situations.

[2017-06-09 12:57] Ullaakut commented on #6
TravisCI is now set, as well as Codacy with cppcheck, Hadolint, Vera++ and shellcheck.

[2017-06-09 12:57] #6 closed

[2017-06-14 12:25] Ullaakut opened #26 "Patterns and time overlay do not work in Docker image"

[2017-07-14 12:39] Ullaakut commented on #26
Fixed in https://github.com/EtixLabs/RTSPAllTheThings/pull/27

[2017-07-14 12:39] #26 closed

[2017-10-12 04:50] mbach04 opened #35 "Webcam passthrough"
Document / support ability to pass in linux video device (/dev/video0).

[2017-10-12 08:38] Gegonz commented on #35
Can be done with a new pipeline using https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good/html/gst-plugins-good-plugins-v4l2src.html

This needs to:
- Add a new input parsing: https://github.com/EtixLabs/RTSPAllTheThings/blob/master/src/parsing.cpp#L188
- Create the appropriate input pipeline: https://github.com/EtixLabs/RTSPAllTheThings/blob/master/src/pipeline.cpp#L111 usi

[2017-10-12 09:15] Ullaakut commented on #35
We can do it but it will take some time for us as we currently have other priorities. If you can do it by yourself following the links provided above, your contribution would be very appreciated! :-)

Otherwise, expect the feature in the upcoming weeks

[2017-10-13 04:44] mbach04 commented on #35
PR #36 addresses this.

[2017-10-13 04:51] mbach04 commented on #35
It passes on my end, but the Travis CI script is failing.

[2017-10-13 05:13] Ullaakut commented on #35
Awesome work. The CI failing is because I changed my docker credentials and forgot to update them for this repository's configuration. I'm restarting it, it should be fine and your PR will be merged!

Thank you for your quick and efficient contribution :)

[2017-10-13 05:30] Ullaakut commented on #35
CI passes. @Gegonz will review your PR and test it manually and then we're good to go! :)

[2017-10-13 13:54] Ullaakut opened #37 "TravisCI script should not try to use the docker repository in case of pull request"

[2017-10-13 17:25] Ullaakut commented on #37
(Hopefully) Fixed in https://github.com/EtixLabs/RTSPAllTheThings/pull/38

[2017-10-13 17:25] #37 closed

[2017-10-16 07:38] Ullaakut commented on #35
Done in https://github.com/EtixLabs/RTSPAllTheThings/pull/36

[2017-10-16 07:38] #35 closed

[2017-10-16 16:18] david74chou opened #39 "x264enc is using multiple slices"
Good job! RTSPATT is a great tool and its pattern mode is quite useful for auto testing.

However, I found current pipeline will set x264enc with `tune=zerolatency` which will make it uses 4 slices for one frame. I am not sure this is expected or not because multiple-slices is rarely used in the surveillance industry (Please correct me if I am wrong). Although ffplay and vlc could handle it correc

[2017-10-17 06:27] Gegonz commented on #39
Hi David,

The best approach would be encoder parameters according to the kind of input that you received or user defined.
For now *tune=zerolatency* was specify to broadcast a RTSP stream (RTSPATT received an RTSP stream and forward it) with as little latency as possible. But I agree it should not be by default, I will do a PR to remove it.

[2017-10-17 07:05] Ullaakut opened #41 "Add --low-latency option / let user specify encoder parameters"

[2017-10-19 18:42] Ullaakut opened #42 "Launching RTSPAtt with an invalid input makes it timeout (no media)"
Instead of detecting an invalid input, RTSPAtt launches its pipeline even though it's buggy.

[2018-01-08 05:00] lukeweston opened #43 "End of file"
When serving an RTSP stream from a video file, what is the default behavior at the end of the source file?

Does the stream restart from the start of the file, in an automatic infinite loop?

Is there any control over this loop behavior, or lack thereof?

[2018-01-12 08:32] Ullaakut commented on #43
The default behavior is currently that it goes into an automatic infinite loop. Adding control over this behavior would be a welcome feature, but not one we are currently planning on working on.

If you'd like to contribute we can point you in the right direction and give you the necessary resources to implement this feature quite quickly :)

[2018-01-13 07:52] lukeweston commented on #43
Thanks.

[2018-01-13 07:52] #43 closed

[2018-01-18 09:22] athvillar opened #44 "Continuous Error Msg: not authorized to see factory path"
Video cannot be displayed normally(Although sometimes can display). I use VLC on mac, server is docker container compiled with this newest code.

Is this because I continuously got this?
0:03:08.062553193     1 0x7f31a4002a30 ERROR             rtspclient rtsp-client.c:699:find_media: client 0x7f31ac03fe70: not authorized to see factory path /live.sdp
0:03:08.062580435     1 0x7f31a4002a30 ERROR

[2018-01-18 10:36] Ullaakut commented on #44
Hi @athvillar,

In order to help you, I'll need to see the full logs of the docker container and to know what RTSP URL you're feeding to VLC.

[2018-01-18 12:09] athvillar commented on #44
@Ullaakut

Full logs:
[root@120 ~]# docker logs rtspsv
                                               ▄██▄
                                               ▀███
                                                  █
                                 ▄▄▄▄▄            █
                                ▀▄    ▀▄          █
                            ▄▀▀▀▄ █▄▄▄▄█▄▄ ▄▀▀▀▄  █
                           █  ▄

[2018-01-18 12:16] athvillar commented on #44
@Ullaakut
Do I need to change the GST_DEBUG value to produce more logs?

[2018-01-18 12:41] Ullaakut commented on #44
Here your issue is that you don't have any media to be read: `client.c:2239:handle_describe_request: client 0x5600d0d691c0: no media`

Are you sure that the path that you give in the arguments is right?

[2018-01-18 12:45] Ullaakut commented on #44
Here is an example of command-line that might be useful:

`docker run -p 8554:8554 -e INPUT=/tmp/video.mp4 -v forgotten-object.mp4:/tmp/video.mp4 -e RTSP_PORT=8554 ullaakut/rtspatt`

I launched this command while having a file named `forgotten-object.mp4` in my current directory

[2018-01-19 02:02] athvillar commented on #44
Thank you, but the media path is right
[root@120 ~]# docker exec -it rtspsv ls -l /tmp/testv.avi
-rw-r--r-- 1 root root 82153750 Jan 18 17:27 /tmp/testv.avi

Sometimes it can be displayed, most of time it can't.
I changed a docker server, everything became OK, no error logs. I don't know why. Anyway the problem disappeared. Thank you @Ullaakut .

[2018-01-19 02:08] #44 closed

[2018-03-11 09:47] xiaoweihong opened #45 "support media type"
you project is very powerful.But I want to know your project can suport how many type of media?avi,mp4,h264,h265......
thank you.

[2018-03-11 09:55] Ullaakut commented on #45
Hi @xiaoweihong ! Thanks for the kind words.

Since we use playbin as the pipeline's entrypoint, we support:

### Container types

* mp4
* asf
* avi
* mpeg
* ogg
* wav

### Encoding formats

* 3ivx
* DivX
* dv | Digital Video
* ffv | FFMpeg video
* h263 | H-263 video
* h264 | H-264 video
* huffyuv | Huffyuv video
* indeo | Indeo video
* jpeg | Motion-JPEG video
* mpeg | MPEG video
* msmpeg | Micro

[2018-03-11 09:55] #45 closed

[2018-05-18 09:50] frallain opened #46 "RTSPATT won't play avi file"
Hello, first thanks for this very handy docker image.
Unfortunately, I can't make it work with an input video:
[code]

Any ideas?

[2018-05-18 10:34] Ullaakut commented on #46
For some reason, it seems that the pipeline doesn't manage to read your `avi` file. I tried the exact same with an `mp4` file instead and it worked fine. To be honest this is quite strange because IIRC we used `avi` files without any issues in the past, and from what I can see VLC is able to play your video just fine too. If you can, try to re-encode the video as it might be the reason for the iss

[2018-06-06 22:27] Mera-balou opened #47 "Access authentication method"
Hi,

I 've just discovered your wonderful project and i have an enhancement to request.
It seems that when you set up a username and a password, like this example command :
`docker run --rm -e RTSP_USERNAME=admin -e RTSP_PASSWORD=1234 -p 8554:8554 ullaakut/rtspatt
`,
RTSPAll request by default a basic access authentication method.

In the RTSP RFC, both basic and digest access authentication metho

[2018-06-07 03:57] Ullaakut commented on #47
Hi @Mera-balou !

I'm glad you find RTSTAPP useful :)

This sounds like quite a straight forward feature to implement, I'll get to it ASAP! 👍

[2018-06-07 05:00] Ullaakut commented on #47
Alright so I've started an implementation and for this we'll need to build our own version of the GST RTSP server library, unfortunately, so this is going to take me some time, but I'm on it!

[2018-06-07 06:03] Ullaakut commented on #47
Aaaand here you go: https://github.com/EtixLabs/RTSPAllTheThings/pull/48

I merged the PR, I will update the official docker image later this morning. I tested the feature on my machine and it seems to work fine 👌.

<img width="245" alt="screen shot 2018-06-07 at 08 02 26" src="https://user-images.githubusercontent.com/6976628/41080950-2789624c-6a29-11e8-86d1-60fa4708700b.png">

<img width="948" a

[2018-06-07 06:03] #47 closed

[2018-06-07 08:33] Mera-balou commented on #47
Hi Ullaakut,
I'm very impressed by your responsiveness.
Well, let me try tonight or tomorrow and i will let you know about it.

[2018-06-07 08:34] Ullaakut commented on #47
Sounds good, thanks 👍

[2018-06-10 14:16] Ullaakut commented on #42
https://github.com/Ullaakut/RTSPAllTheThings/pull/49

[2018-06-10 16:19] #42 closed

[2018-06-11 16:45] #46 closed

[2018-06-12 18:11] frallain commented on #46
@Ullaakut Sorry for the delay, How can I do that?

[2018-06-13 08:47] Ullaakut commented on #46
Using `ffmpeg` for example.

The issue here doesn't really come from RTSPATT but from the library we use to parse file inputs, which apparently has a problem decoding the video file it's given.

By running `ffmpeg -i drop.avi -c:v libx264 result.mp4` and using the `result.mp4` file instead, it should work. I tried it with a few different video files of mine and didn't get any issue, so I'm not sur

[2018-06-14 13:55] frallain commented on #46
@Ullaakut Yes it does work after re-encoding the video with ffmpeg as you proposed. Thanks

[2018-06-15 12:08] Ullaakut commented on #46
😄 Just a shame I'm not sure what was wrong in the first place, but I am glad that it is now working :)

Let me know if there is anything else I can help you with.

[2018-07-05 16:01] frallain opened #52 "Stream from file input without re-encoding"
If not, is it possible to use gstreamer directly to do it?
Thanks and Cheers

[2018-07-05 16:14] frallain commented on #52
I mean, is it feasible codewise in `pipeline.cpp`?

[2018-07-06 07:19] Ullaakut commented on #52
Hi @frallain,

Yes it is possible. It's written in the readme which options force a transcoding:

 The options that force transcoding are:

- Changing the resolution
- Changing the framerate
- Enabling the time overlay

If you see that RTSPAtt is transcoding despite none of those options being used, then it's a bug. In which case, let me know and I'll fix it as soon as possible :-)

Thanks for usi

[2018-07-06 08:48] frallain commented on #52
@Ullaakut Ok, I am trying to stream a 1920x1080 10FPS H264 mp4 file:
[code]

and I think it transcodes the file:
[code]
Can you confirm or not that it is transcoding?

Also, the `[default: 25]` for `RTSP_FRAMERATE` is confusing, should I specify it if my video is not at 25FPS? Shouldn't be the default framerate the original framerate of the input video?

[2018-07-06 09:48] Ullaakut commented on #52
Yes, here it's going to transcode the video because the resolution and framerate options are specified.

I agree that it's super confusing, especially that currently if RTSP_FRAMERATE isnt specified, it just isn't modified, and is not set to 25fps like the documentation would suggest.

I will update the documentation to match reality and in the meantime, running:

[code]

Should work without any t

[2018-07-06 11:06] frallain commented on #52
@Ullaakut No it still transcodes due to the default resolution of 1280*720 :
[code]

[2018-07-06 11:56] Ullaakut commented on #52
Alright I found the issue! Thanks @frallain :) Will fix this later on today or tomorrow.

[2018-07-06 13:22] frallain commented on #52
@Ullaakut Cool, glad to help.

[2018-07-06 13:25] frallain opened #53 "Documenting about the kind of RTP"
Hi again,
It would be nice to document what kind of RTP is done here : RTP/UDP or RTP/TCP or RTP over HTTP ?

I suppose it's RTP/TCP.

[2018-07-06 16:37] Ullaakut commented on #53
That's a fair point. It is currently over TCP, yes!

[2018-07-07 10:07] Ullaakut commented on #52
Actually after looking into it for a few hours here, didn't really find a way to consistently have working video without encoding. Will leave the forced encoding for now but remove the default WIDTH, HEIGHT and FRAMERATE values (except for videotestsrc, which requires dimensions to be built.)

I will add the `help wanted` label on the issue and hopefully someone else will be able to help. Until th

[2018-07-07 10:08] Ullaakut opened #54 "Streaming from an RTSP source no longer works"
Not sure why, but when I tried streaming a file with one RTSPATT and use the first RTSPATT as the second one's source, it didn't work, with or without encoding.

[2018-07-07 11:04] Ullaakut commented on #52
See https://github.com/Ullaakut/RTSPAllTheThings/pull/55 for an update on some fixes regarding this.

[2018-07-07 11:04] Ullaakut commented on #53
Fixed in https://github.com/Ullaakut/RTSPAllTheThings/pull/55

[2018-07-25 17:14] frallain commented on #52
@ullakut some relevant information at https://stackoverflow.com/questions/29794053/streaming-mp4-video-file-on-gstreamer

[2018-08-02 09:46] Ullaakut opened #56 "Add logo"
The AllTheThings meme with RTSP should be good enough

[2018-08-31 12:15] idulsky commented on #54
I also faced the same problem. I can't make it to re-stream rtsp from IP camera
Ran container via
`docker run --rm -p 8554:8554 -e INPUT="rtsp://xxx:xxx@192.168.174.193" -e RTSP_PORT=8554 ullaakut/rtspatt`
It responded, that Stream ready at rtsp://localhost:8554/live.sdp
But when I tried to play this stream, VLC said
`live555 demux error: Failed to connect with rtsp://localhost:8554/live.sdp`
On t

[2018-09-03 05:26] Ullaakut commented on #54
Unfortunately not, and I'm really not sure how to fix it. I tried a few solutions already but I don't have enough time at the moment to spend more time on this :( If someone has an idea on how to fix this, feel free to pick it up

[2018-09-24 08:10] molobrakos commented on #54
Thanks for your work on this excellent package!

I saw this issue reported and just want to add that RTSP streaming works perfectly fine for me. I am streaming RTSP from a cheap web camera (50H20L_S39), using RTSPatt to multiplex to multiple streams fed into [motioneye](https://github.com/ccrisan/motioneye)/[motion](github).

I did some minor changes, such as switching to docker multistage builds

[2018-09-24 08:19] Ullaakut commented on #54
Hi @molobrakos ! Glad it works for you, to be honest I'm not sure at all what is the cause of the problem, it seems to depend on the encoding of the source.

Since you mentioned it, feel free to open a PR with the multi stage docker build! 🙂The size of the current image is quite problematic in my opinion, but I never got around to changing the Dockerfile.

I'll look into this RTSP source issue tod

[2018-09-24 08:32] molobrakos commented on #54
I'll open a PR for the multistage build.
Switching from ubuntu to debian-slim shaves off quite a bit from the image size, but the gstreamer version in that image didn't seem to support quite the same api regarding the digest stuff. Maybe the testing-slim or unstable-slim images could work, but I did not try that.

[2018-09-24 08:34] Ullaakut commented on #54
Thanks very much! 🎉

Perhaps the solution is to manually install a more recent version of gstreamer in the build process, to have access to the newer features of the API. Don't worry about it though, if you open the PR for the multi stage build I'll try and figure out how to install it manually, I think I've done it before I just have to find the Dockerfile!

[2018-09-25 10:20] davidgatti opened #59 "Issue with streaming a file"
I'm trying to stream a demo file with the following command:

[code]
When I do this I get the following error message

[code]

When I connect to the stream with VLC, the vide o is choppy, brakes down, and is unreliable. I did try to convert the original video in to different formats and bitrates but ending up with the same result.

Any idea what might be wrong?

[2018-09-25 15:04] Ullaakut commented on #59
Hi!

I'm pretty sure the issue comes from the encoding of the video. What did you use to covert it to other formats? I've had no problem with 60fps HD streams in the past so I don't think it comes from RTSPAtt, unless there was a regression.

If you could share a link to an example video for me to reproduce the issue, that would also be great :)

Thanks!

[2018-09-26 13:10] davidgatti commented on #59
I recorded the video, with my iPhone, and had this, then I converted it using VLC.

[2018-10-09 09:18] sidisrikk opened #60 "re-streamming from ipcam (rtsp) has no audio"
I capture stream by vlc player. Here is [screenshot](https://ibb.co/bOVsdp) media info from direct ipcam  and [screenshot](https://ibb.co/jfvayp
) from rtspatt .

I found rtspatt use Gstreamer so i google for awhile but that too complex i can't understand haha
But atleast i have some clues   [1](https://stackoverflow.com/a/29050060)   [2](http://gstreamer-devel.966125.n4.nabble.com/problem-with-rt

[2018-10-09 09:41] Ullaakut commented on #60
Thanks @sidisrikk !

What exactly is the issue? :) I don't see a problem in your screenshots

[2018-10-09 09:59] #60 closed

[2018-10-09 10:04] sidisrikk commented on #60
**Thanks**

[2018-10-09 10:19] Ullaakut commented on #60
If you are interested in this feature, feel free to create another issue titled something like `Add audio support`, and maybe someone will be interested in implementing it, who knows :)

[2018-10-09 10:19] #53 closed

[2018-10-09 11:21] #59 closed, assigned to nobody

[2018-10-12 00:04] enricomarchesin commented on #52
This pull request might turn out to be useful:
- https://github.com/Ullaakut/RTSPAllTheThings/pull/61

[2018-10-12 18:59] #56 closed

[2018-10-12 20:02] Ullaakut commented on #52
#61 fixes this issue, thanks to @enricomarchesin ! Closing for now, but if that still doesn't work for you @frallain , let me know :)

[2018-10-12 20:02] #52 closed

[2018-10-14 18:14] enricomarchesin commented on #52
Just a side note, I did a couple of tests to understand the actual performance improvement when no decoding and encoding is done on the source

## Default pipeline

The original image, when idle (not streaming), was showing this with `docker stats`:

[code]

When streaming a Full HD H262 video, the CPU usage more than tripled (it's a 2.7 GHz Intel Core i7 with 4 cores assigned to Docker):

[code]

[2018-10-14 18:32] Ullaakut commented on #52
Yes, encoding is very resource-intensive, especially for high quality streams. It's very good indeed that it's now possible to have pipelines that work without encoding when it's not necessary :) I just wish I figured out how to fix the main pipelines though, as it's not easy for most users to write gstreamer pipelines (and to be honest, I haven't been using gstreamer much this past year, so I'm a

[2018-11-11 01:19] softdev87 commented on #54
Why was this closed ? Seems to still be an issue.

[2018-11-28 23:33] fox365 commented on #54
Same issue for me running:
`docker run --rm -e INPUT="rtsp://user:pass@192.168.1.100:554/cam/realmonitor?channel=1&su
btype=0&unicast=true" -e RTSP_PORT=8554 ullaakut/rtspatt`

Returns:
`Stream ready at rtsp://0.0.0.0:8554/live.sdp`

But in VLC...
`live555 error: Failed to connect with rtsp://localhost:8554/live.sdp
access_realrtsp error: cannot connect to localhost:8554
core error: open of `rtsp:

[2018-12-18 02:43] harlanc opened #65 "Can OBS stream a rtsp stream to this server?"
Can  OBS stream a  rtsp stream to this server?

[2018-12-18 08:07] Ullaakut commented on #65
Hi @harlanc

I'm not sure if OBS supports RTSP streaming, but if it does, it should work, yes.

[2019-01-04 15:36] birdage commented on #54
Also getting the same issue...

[2019-01-04 15:41] Ullaakut commented on #54
In the end I didn't find the time to work on a version that has both the digest feature and the RTSP broadcasting features, but in the meantime for you guys I can maybe make a separate tag especially for RTSP broadcasting using @molobrakos's dockerfile?

What do you think? @birdage @fox365

[2019-01-18 13:03] birdage commented on #54
That works!

[2019-01-19 10:33] Ullaakut commented on #54
I pushed it with the tag `ullaakut/rtspatt:broadcast`, could you give it a try and let me know if it works for you? :)

[2019-01-30 12:39] zhfnjust opened #66 "no audio"
Server configuration:
Address:	0.0.0.0
Port:		8554
Route:		/live.sdp
Username:
Password:
Auth method:	basic
Input:		/tmp/video.mp4
Input type:	file

H264 encoding with:
Framerate:	25
Resolution:	1280x720

Launching stream with the following pipeline: ( appsrc name=mysrc ! decodebin ! videoscale ! video/x-raw,width=1280,height=720 ! videorate ! video/x-raw,framerate=25/1 ! capsfilter ! queue ! x264

[2019-01-30 13:42] Ullaakut commented on #66
Hi @zhfnjust !

I'm sorry about that 😞 In order to have audio streaming over RTSP, you will need to either modify the default pipeline used in RTSPATT, in which case I'd suggest you make a PR for adding that feature for everyone (🎉) or you use the `[-e GST_PIPELINE=your_custom_gstreamer_pipeline]` option and use your own pipeline (In which case I'd also suggest sharing it here for other users :)

[2019-02-01 22:40] bpgross opened #67 "Crash when using multiple concurrent streams"
I would like to stream multiple streams on the same machine - I'm using docker run, and for each one I'm specifying a different input file, different docker container name and different external port (eg. 8554, then 8555, etc.). Docker starts up all my containers successfully, but after a short while all but one stops and I can only ever connect to the first one I start.  It looks like there is so

[2019-02-02 07:31] Ullaakut commented on #67
Hi @bpgross !

Mh, this shouldn't happen. I've been using up to 20 streams simultaneously on one server for weeks in a row without any issues 🤔 But I might have recently introduced a regression somehow so this is worrying.

What makes you think it's related to the jack server? Are you using a custom pipeline?

Please give more information if you can, I'll make it my priority to help you on this AS

[2019-02-03 19:53] bpgross commented on #67
Thanks for your quick response to this issue.

With respect to the pipeline, I don't "think" I'm using a custom one, here is a typical docker run statement:

docker run -d  --name="rtsp-turnstile" -h="rtsp-turnstile" -e INPUT=/tmp/video.wmv \
	-e RTSP_RESOLUTION=320x240 -e RTSP_FRAMERATE=30 \
	-v /Users/bpgross/code/../TurnStile.wmv:/tmp/video.wmv -p 8554:8554 ullaakut/rtspatt

I am specifying the

[2019-02-04 07:49] Ullaakut commented on #67
Alright so my guess is that it's due to the sound track of the videos you are streaming, I've always used video without sound so I'll have to experiment with that to try to reproduce (and fix) this issue.

Might also be a problem of not having enough resources available for streaming multiple videos simultaneously, since with the default pipeline everything is re-encoded IIRC, this makes RTSPATT u

[2019-02-04 16:13] bpgross commented on #67
Thanks again for your quick response.  At this point in time even though the videos have sound, I'm really only interested in the video portion, so I have been playing around with using a custom pipeline:

	-e GST_PIPELINE="filesrc location=/tmp/video.wmv ! decodebin ! videoconvert ! x264enc speed-preset=superfast ! rtph264pay name=pay0 pt=96 "

This works for a short period of time (with multiple

[2019-02-05 07:10] Ullaakut commented on #67
Thanks for all the precisions and even taking the initiative to try it with a different pipeline! Your help is very much appreciated :)

Mh, I don't seem to be able to reproduce the issue. I've tried streaming three videos simultaneously for about 15 minutes, and so far everything seems to work fine. I'll have to try with videos with sound I guess. 🤔

<img width="1920" alt="screenshot 2019-02-05 a

[2019-02-06 09:47] Ullaakut commented on #67
So since I wasn't able to reproduce the issue, I'm going to need information about:

* The version of RTSPATT you are using (you can find out by running `docker images | grep rtspatt` and checking the tag.
* The videos you are using (encoding, size, length... ideally getting an example of such a video could help me better)
* After how long does it usually fail?
* Do all streams (but one) fail exac

[2019-02-12 06:29] bpgross commented on #67
I'm sorry for the delay, I've not had much of a chance to debug this - just been dealing with a single stream and re-starting it when it dies.

In terms of version, - I am using latest - says I created it 3 months ago.

For a failure that just happened, I was running a 960x720 video, 15 FPS.  It died while I was consuming the video, after about 1450 frames.  The video itself is a mp4, 33 MB, 5 min

[2019-02-24 09:59] pranavlal opened #69 "Outputting streams from multiple IP cameras to a web browser"
Hi,
I have 10 IP cameras. I want to send their streams to the server and them view them on a web page. Is this the right tool for this task?

[2019-02-24 16:28] Ullaakut commented on #69
Mh, most likely not. This tool can be used to broadcast your streams if they aren't accessible from the outside of your network, but that's about it.

What you need is a web interface for viewing RTSP streams.

Here are my suggestions (open source and free):

* https://zoneminder.com/
* https://www.ispyconnect.com/
* https://shinobi.video/

Or you can also buy an NVR (Network Video Recorder) and p

[2019-02-24 16:28] #69 closed

[2019-02-25 11:04] rodolfoap opened #70 "Q: Is it possible to loop a video?"
I need to loop small video files continuously. How can I do that (for what I've read, pipelines would not allow looping)? Thanks in advance...

[2019-02-25 15:42] Ullaakut commented on #70
🤔 Looping videos forever is actually the default behavior when using a file input. Some RTSPATT streams have been running 24/7 since 2017 so I find it strange it would be an issue in the software, but just in case, could you add the following information to this ticket:

- Command line you ran to launch RTSPATT
- Logs of RTSPATT
- Information on the video you are streaming (encoding, length, size,

[2019-02-25 15:50] bpgross commented on #67
I spent some time with this over the weekend and I have some further info.

For my use, the resolution of the stream is important as we have videos at specific resolutions to test our analytics.  I could not go with the default resolution of 1280x720 25 FPS, and I did not want the CPU load of transcoding to effectively keep the source resolution thus since early on I've been using a custom pipelin

[2019-02-25 16:02] Ullaakut commented on #67
Hey @bpgross !

Sorry, I forgot to answer to your last message two weeks ago.

I will change the behavior to not rescale and not change the framerate of the video by default if it's from a file input 👍🏽

This is a bad design from my side since this tool was originally supposed to create videos and not stream existing records.

I'll probably do this either this evening or on Wednesday, and will upd

[2019-02-25 16:26] bpgross commented on #67
Thanks for this fast response.  I was going to look  into adding a norescale option, but if you are willing to change the default then I do agree that is preferable.

Thanks,

Brent.

[2019-02-27 18:12] Ullaakut commented on #67
@bpgross I've done a few experiments with PR #55 that I opened almost a year ago and was reluctant to merge due to stability concerns, and I think it's ready to enter master now.

- This means we no longer resize and change the framerate of file inputs and RTSP streams.
- But it doesn't remove the need for encoding unfortunately. I'm not sure why, but nothing seems to work when I don't encode it,

[2019-02-27 18:16] Ullaakut commented on #67
(Make sure to update your image by running `docker pull ullaakut/rtspatt:latest`)

[2019-02-28 09:16] Ullaakut commented on #66
Closing for inactivity

[2019-02-28 09:16] #66 closed

[2019-02-28 09:16] Ullaakut commented on #65
Closing for inactivity

[2019-02-28 09:16] #65 closed

[2019-03-26 08:15] ai4581532 opened #71 "Is there an HTTP Streaming feature"

[2019-03-26 08:53] Ullaakut commented on #71
Hi @ai4581532,

As its name implies, _RTSPATT_ streams using the **RTSP** protocol, and does not support HTTP streaming. In order to achieve that, you would either need to contribute to this repository by opening a PR, or to use another tool.

[2019-03-26 08:53] #71 closed

[2019-03-26 10:01] ai4581532 commented on #71
Sorry, I mean，Is it possible to run like this  “./rtspatt -i http://10.9.242.59:8080/st016/st016-sc1.mp4 -l 172.100.100.12 -b 18554”，think you

[2019-03-26 10:02] Ullaakut commented on #71
Ah! I see. Well unfortunately, HTTP input is not yet supported either, but it could be quite an easy feature to add. If you are familiar with gstreamer, you can do so by simply changing the source of the internal pipeline :)

[2019-04-14 15:34] regzon opened #72 "Issue with H264 incompatible camera"
I have a web camera that doesn't support H264 format. And the application silently fails on all requests to the RTSP server.

Fix for this problem is a custom GStreamer Pipeline:
[code]

But I think this could be an option for the application (or maybe there can be automatic detection of supported camera outputs)

[2019-04-15 07:42] Ullaakut commented on #72
Hi @Regzon!

Nice suggestion :) This could be a nice feature indeed, but I'm not really able to 100% maintain this project anymore unfortunately, since I have a lot of other stuff on my plate.

If you want, we can either:

- Since I am limited by time, I can add a tip in the README saying that cameras not supporting H264 are not supported by the default pipelines, and recommending to use the pipel

[2019-04-18 13:05] janniswarnat opened #73 "failed to connect: Operation was cancelled"
Hi all,

first of all thank you very much for providing this wonderful Docker image (I am currently using ullaakut/rtspatt:broadcast) :-).

We are trying to transmit an rtsp stream from a camera between two OpenWrt routers that are connected via an OpenConnect VPN connection over LTE. This can lead to all kinds of network disconnection issues of course.  It seems that the RTSPATT server handles so

[2019-04-19 15:02] Ullaakut commented on #73
Hi @janniswarnat !

Thanks for opening an issue :) It seems to me that unfortunately this issue is due to [`gst-rtsp-server`](https://github.com/GStreamer/gst-rtsp-server) unfortunately 🤔And I'm not sure where to look when it comes to bugs/issues with `gst-rtsp-server`.

What we could do in RTSPATT, I guess, would be to launch a loop in a separate thread from the [`g_main_loop_run`](https://github

[2019-04-30 08:02] janniswarnat commented on #73
Hi @Ullaakut ,

thanks for your quick answer. We implemented the following workaround that works well for us:

- Monitor the RTSP stream provided by a RTSPATT container with Nagios (using plugin [check_real](https://nagios-plugins.org/doc/man/check_real.html)).
- Define a Nagios event handler (shell script) to restart the RTSPATT service via docker-compose in case the RTSP stream is unavailable.

[2019-04-30 08:02] #73 closed

[2019-05-03 09:48] hhi-privat opened #74 "Feature request / implementation"
Hello!
First of all: very nice server! It fits already 90% of my requirements. I´ve also spent days in the WWW to find a solution for my problem. My scenario: i´m receiving UDP / RTP streams and have to provide them via RTSP and authentification. Actually your server accepts only files as source. It´s possible to implement also UDP / RTP sources? Thx a lot for an answer. Greetings, Holger

[2019-05-05 05:54] Ullaakut commented on #74
Hi Holger,

Thanks for sharing your use-case. RTSPATT doesn't only support file inputs, the list of supported input methods is documented [here](https://github.com/Ullaakut/RTSPAllTheThings#override-options).

[2019-05-05 05:57] Ullaakut commented on #74
UDP/RTP sources are not supported at the moment though, but I won't be able to implement that feature. Are you able to look into it? You'll need to be familiar with [gstreamer pipelines](https://gstreamer.freedesktop.org/documentation/tutorials/).

Here are some resources to get you started:

- https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good/html/gst-plugins-good-plugins

[2019-05-05 08:50] SuJiKiNen commented on #70
I encounter this too.here's my info.sorry, it's a bit mess.

1. `docker run --rm -e GST_DEBUG=3 -e INPUT="/tmp/video.mp4" -e RTSP_PORT=18554 -e GST_PIPELINE="filesrc location=/tmp/video.mp4 ! qtdemux ! video/x-h264 ! rtph264pay pt=96 name=pay0" -v "$PWD/test.mp4:/tmp/video.mp4" -p 18554:18554 ullaakut/rtspatt
`

2.
[code]

3. via mediainfo

[code]

4.  [pastbin](https://pastebin.com/jKAuSy1Y)

[2019-05-27 04:44] lukeweston commented on #70
@Ullaakut thanks for your great work!

Is it possible to *not* loop? You said looping was the default behaviour but I'm not sure where to override this.

The desired behaviour would be to play one iteration of the input video file and then terminate at the end of the video. Is there an option for this?

[2019-05-27 06:24] Ullaakut commented on #70
Hi @lukeweston !

With the current pipeline, no there isn't. At the moment my only suggestion would be to use a custom pipeline to achieve this, but it requires knowledge of gstreamer unfortunately.

I'm currently planning on making a version 2.0 of rtspatt in go, so that might be one of the features I add in this next version. I'll make sure to update this issue if that's the case, in order to le

[2019-05-27 06:25] #70 closed

[2019-06-11 20:21] Rakiah opened #75 "Support multi-streaming"
Hello, do you think it would be possible to stream multiple files/rtsp sources but on only one port and on the same docker container ? so that we could have different paths for different rtsp source like
rtsp://localhost/file1
rtsp://localhost/file2

[2019-06-12 06:40] Ullaakut commented on #75
RTSPATT doesn't currently support multi-route streaming at the moment, however it could be added if someone is interested in implementing that feature.

Let me know if you would like to contribute and add this to RTSPATT :)

[2019-06-12 06:41] Ullaakut commented on #72
Any update on this @Regzon? Thanks

[2019-06-14 03:06] ingjieye opened #76 "When reading from a large file ( > 300MB ). The rtspatt will tack up all the memory (4GB)"
Probably it's because rtspatt decode entire file to memory before do anything? It there a way to workaround this?

[2019-06-14 04:14] Ullaakut commented on #76
Hi @ingjieye, I guess the only solution is either to allocate more memory or reduce the size of the file by compressing it (you can achieve this easily using [ffmpeg](https://ffmpeg.org/)).

Unfortunately, I'm afraid there's nothing else that can be done to fix this issue, since that's how gstreamer works, which is what is under the hood of RTSPATT :/

[2019-06-14 04:14] #76 closed

[2019-06-15 11:03] Regzon commented on #72
Sorry for a late reply. I am not working with this camera anymore, so can't test this. I think we can put the hint somewhere in README. That should be okay.

[2019-07-09 11:49] saloponov opened #77 "Memory leaks"
After 12 minutes of streaming, the container takes up more than 5 GB of RAM. All streams fell after memory overflow. I use next docker-compose file for creating stream:

    image: ullaakut/rtspatt:latest
    volumes:
      - "./camera-emulator/videos/:/videos/"
    environment:
      RTSP_ADDRESS: 0.0.0.0
      RTSP_PORT: 19554
      RTSP_USERNAME: admin
      RTSP_PASSWORD: 123456
      RTSP_FRA

[2019-07-09 11:54] saloponov commented on #77
After 12 minutes of streaming, the container takes up more than 5 GB of RAM. All streams falled after memory overflow. I use next docker-compose file for creating stream:
[code]

[2019-07-10 15:08] Ullaakut commented on #77
Hi @saloponov,

Thanks for reporting this.

Have you been able to observe the containers for more than 12 minutes? RTSPATT has been running in production for over two years at my former company without any complaints about memory leaks, so I'm not convinced that there is a leak.

My guess is that memory usage simply increases as the videos you are streaming are buffered in the memory.

Let me know

[2020-03-25 00:10] esttenorio opened #78 "When hosting container in the cloud, and using INPUT container crashes"
I'm trying to mock IP cameras by hosting the container with the rtspAllTheThings image on the cloud for testing purposes. There are 2 scenarios:

- when using the env INPUT param for setting the filepath the container crashes. Since it crashes I'm not able to test the stream using VLC. These were logs I was able to retrieve for this scenario before the container crashed:

[code]
- when setting my

[2020-03-25 19:32] shubjain26 commented on #77
Hi @Ullaakut ,

Thanks a lot for creating this, it's really helpful.
As @saloponov  mentioned, I am also observering memory leaks.

Within 5 mins, the container size reaches 10 GB

My Docker run command :
`docker run -it -e INPUT=/videos/vid.avi -v `pwd`/videos:/videos -p 8554:8554 ullaakut/rtspatt
`
##########################
Container Log
##########################
[code]

![Screenshot from 2020

[2020-03-29 11:57] Ullaakut commented on #77
Hi @shubjain26, thanks for the detailed report! I am able to reproduce this issue, but it's unclear why it happens. I'm guessing it's some kind of issue with Gstreamer, I'll look into it when I have some time :)

[2020-03-29 17:51] Ullaakut commented on #78
Hi @esttenorio!

Unfortunately I haven't worked much on this project for a long time and my Gstreamer skills are very rusty. Since it's an issue I couldn't reproduce, I'm not sure what I can do to help at the moment.

I'm really sorry I can't help, and I hope someone else can help in this thread 😅

[2020-04-14 13:25] #18 closed

[2020-04-14 13:25] #23 closed

[2020-04-14 13:25] #39 closed

[2020-04-14 13:25] #41 closed

[2020-04-14 13:25] #54 closed

[2020-04-14 13:25] #67 closed

[2020-04-14 13:25] #72 closed

[2020-04-14 13:25] #75 closed

[2020-04-14 13:25] #77 closed

[2020-04-14 13:25] #78 closed

[2020-04-14 13:27] Ullaakut opened #79 "This repository is [[DEPRECATED]]"
I no longer have enough time to maintain RTSPATT. It lacks features and it has many issues.

If you need a trusty RTSP server with more features, less bugs and that is maintained (as of 2020 at least), I recommend using [rtsp-simple-server](https://github.com/aler9/rtsp-simple-server) instead.

Please do not email me for support questions related to RTSPATT.